body{
  margin:0;
  padding:0;
  font-family: "Niramit", "Arial", sans-serif;
  font-size: 16px;
  color: black;
  background-color: white;
}
.tableau{
  display: flex;
  flex-direction: column;
justify-content: center;
}
.center{
  display:flex;
  flex-direction: row;
    justify-content: space-around;
}
.top{
  display:flex;
  flex-direction: row;
    justify-content: space-around;
}
.bot{
  display:flex;
  flex-direction: row;
      justify-content: space-around;
}
.element1{
  width: 60px;
  height: 60px;
  background: #777;
  margin: 100px;
}
.element2{
  width: 60px;
  height: 60px;
  background: #777;
  margin: 100px;
}
.element3{
  width: 60px;
  height: 60px;
  background: #777;
  margin: 100px;

}
.element4{
  width: 60px;
  height: 60px;
  background: #777;
  margin: 100px;
}
.element5{
  width: 60px;
  height: 60px;
  background: #777;
  margin: 100px;
}
.lesimg{
  display:flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.imgelem{
    display:flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.img1{
  margin-top: 10%;
  margin-bottom: 0%;
  margin-left: 0%;
  margin-right: 0%;
  width:400px;
  height: 600px;
  background: #777;
}
.img2{
  margin-top: 10%;
  margin-bottom: 0%;
  margin-left: 0%;
  margin-right: 0%;
  width:400px;
  height: 600px;
  background: #777;
}
.img3{
  margin-top: 10%;
  margin-bottom: 0%;
  margin-left: 0%;
  margin-right: 0%;
  width:400px;
  height: 600px;
  background: #777;
}
.img4{
  margin-top: 10%;
  margin-bottom: 0%;
  margin-left: 0%;
  margin-right: 0%;
  width:400px;
  height: 600px;
  background: #777;
}
.img5{
  margin-top: 10%;
  margin-bottom: 0%;
  margin-left: 0%;
  margin-right: 0%;
  width:400px;
  height: 600px;
  background: #777;
}


.invisible{
  display: none;
}
