html{
  width:1280px;
  height:1024px;
}
body{
  padding:0;
  font-family:"ArialBlack", sans-serif;
  font-size: 16px;
  background-image: url("../images/darkbacklight.png");
  background-repeat:no-repeat;
  background-attachment: fixed;
  color: white;
}
audio{

}
.imagetype1{
  width: 120px;
  height: auto;
}
.imagetype2{
  width: 160px;
  height: auto;
}
.imagetype3{
  width: 150px;
  height: auto;
}
.imagetype7{
  width: 100px;
  height: auto;
}
.imagetype6{
  width: 140px;
  height: auto;
}
.imagetype4{
  width: 170px;
  height: auto;
}
.imagetype5{
  width: 200px;
  height: auto;
}
.grandimage1{
  width: 500px;
  height: auto;
}
.grandimage2{
  width: 1000px;
  height: auto;
}
.post{
  width: 50px;
  height: auto;
}
.post2{
  width: 60px;
  height: auto;
}
.lien{
  width: auto;
  height: auto;
  display: flex;
  justify-content: flex-end;
}
.lien a{
    border: black;
    border-radius: 20px;
    margin: 10px 10px;
    padding: 5px 5px;
  color:white;
  height: 10%;
  background-color: black;
  transition: 0.3s;
  text-decoration: none;
}
.lien a:hover{
  background-color: white;
  border-radius: 10px;
  color: black;
}
.container{
  display: flex;
  justify-content: center;
  align-items: center;
}
.tableau{
  width: 1200px;
  height: 800px;
  display: flex;
    flex-direction:row;
justify-content: center;
  flex-wrap: wrap;
  background-image: url("../images/dirtywhiteboard.png");
  background-repeat: no-repeat;
  background-size: cover;
}
.draggable{
  width: 100px;;
  height: 100px;
}
.box{
  margin: 20px;
  touch-action: none;
  user-select: none;
  -webkit-transform: translate(0px, 0px);
          transform: translate(0px, 0px);
}
.element2{
  margin: 20px;
  touch-action: none;
  user-select: none;
  -webkit-transform: translate(0px, 0px);
          transform: translate(0px, 0px);
}
.lesimg{
  width: auto;
  height: auto;
  display:absolute;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.imgelement{
    display:flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.img1,.img3,.img4,.img5,.img6,.img7,.img8,.img9, .img10, .img11, .img12, .img13, .img14, .img15, .img16{
  margin-top: 1%;
  margin-bottom: 0%;
  margin-left: 0%;
  margin-right: 0%;
}
.img14,.img5,.img11,.img10,.img12,.img15,.img8{
  display: flex;
  align-items: center;
}
.img14 p,.img11 p,.img5 p,.img10 p,.img12 p,.img15 p,.img8 p{
  border-radius: 20px;
  padding: 20px 20px;
  background-color: #3A3A3A;
}
.blockincrease
{
    display:inline-block;
    border:0;
    width:auto;
    height:auto;
    position: relative;
    -webkit-transition: all 200ms ease-in;
    -webkit-transform: scale(1);
    -ms-transition: all 200ms ease-in;
    -ms-transform: scale(1);
    -moz-transition: all 200ms ease-in;
    -moz-transform: scale(1);
    transition: all 200ms ease-in;
    transform: scale(1);
}

.blockincrease:hover
{
    box-shadow: 0px 0px 50px #000000;
    z-index: 2;
    -webkit-transition: all 200ms ease-in;
    -webkit-transform: scale(1.5);
    -ms-transition: all 200ms ease-in;
    -ms-transform: scale(1.5);
    -moz-transition: all 200ms ease-in;
    -moz-transform: scale(1.5);
    transition: all 200ms ease-in;
    transform: scale(1.5);
}
.mentionlegal, .tips{
  color:grey;
  font-size: 12px;
}
.tips{

  margin: 0px 0px 0px 40px;
}


.invisible{
  display: none;
}
